<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="participants.name"
          name="name"
        />
      </div>
      <div class="form-group">
        <label for="Contact">Contact</label>
        <input
          class="form-control"
          id="contact"
          required
          [(ngModel)]="participants.contact"
          name="contact"
        />
      </div>
      <button (click)="saveParticipant()" class="btn btn-success">Submit</button>
    </div>
    <div *ngIf="submitted">
      <h4>Participant has registered successfully!</h4>
      <button class="btn btn-success" (click)="newParticipant()">Add</button>
    </div>
  </div>
</div>
