<div *ngIf="viewMode; else editable">
  <div *ngIf="currentParticipants.id">
    <h4>Participants</h4>
    <div>
      <label><strong>Name:</strong></label> {{ currentParticipants.name }}
    </div>
    <div>
      <label><strong>Contact:</strong></label>
      {{ currentParticipants.contact }}
    </div>
    <div>
      <label><strong>Status:</strong></label>
      {{ currentParticipants.attending ? "Attending" : "Pending" }}
    </div>
    <a
      class="badge badge-warning"
      routerLink="/tutorials/{{ currentParticipants.id }}"
    >
      Edit
    </a>
  </div>
  <div *ngIf="!currentParticipants">
    <br />
    <p>Please click on a Officer..</p>
  </div>
</div>
<ng-template #editable>
  <div *ngIf="currentParticipants.id" class="edit-form">
    <h4>Employee
    </h4>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentParticipants.name"
          name="name"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="contact"
          [(ngModel)]="currentParticipants.contact"
          name="contact"
        />
      </div>
      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentParticipants.attending ? "Attending" : "Pending" }}
      </div>
    </form>
    <button
      class="badge badge-primary mr-2"
      *ngIf="currentParticipants.attending"
      (click)="updateAttending(false)"
    >
      Not Attending
    </button>
    <button
      *ngIf="!currentParticipants.attending"
      class="badge badge-primary mr-2"
      (click)="updateAttending(true)"
    >
      Publish
    </button>
    <button class="badge badge-danger mr-2" (click)="deleteParticipants">
      Delete
    </button>
    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateParticipants()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>
  <div *ngIf="!currentParticipants.id">
    <br />
    <p>Cannot access this Tutorial...</p>
  </div>
</ng-template>
