<div *ngIf="showLogin" class="main-container">
    <ngx-alerts></ngx-alerts>
    <div class="box">
      <h2>Event App Login</h2>
      <form>
        <div class="input-box">
          <input #username type="text" name="" required="">
          <label>Username</label>
        </div>
        <div class="input-box">
          <input #pass id="user-pass" type="password" name="" required="">
          <label>Password</label>
        </div>
        <input type="button" name=""  (click)="login(username.value,pass.value)" value="login">
      </form>
      <p><a (click)="showingRegister()">Register</a></p>
    </div>
    </div>
    
    <div *ngIf="showRegister" class="main-container">
        <div class="box">
            <h2>Event App Register</h2>
            <form>
              <div class="input-box">
                <input #su type="text" name="" required="true">
                <label>Username</label>
              </div>
              <div class="input-box">
                <input  #sp type="password" name="" required="true">
                <label>Password</label>
              </div>
              <div class="controls">
                <label style="color:white">Type</label>
                <label class="radio" style="color:white" >
                  <input type="radio" checked="true" name="foo" value="A" (change)="changeType($event.target.value)" >
                  Attendee
                </label>
                <label class="radio" style="color:white">
                  <input type="radio" name="foo" value="O" (change)="changeType($event.target.value)" >
                  Organizer
                </label>
              </div>
              
              <input type="button" (click)="signup(su.value,sp.value)" value="Sign Up"> 
            </form>
            <p><a (click)="showingLogin()">Login</a></p>
          </div>
    </div>