<div>
  <mat-form-field>
    <mat-label>Select event</mat-label>
    <mat-select [(value)]="selectedEvent">
      <mat-option *ngFor="let event of events" [value]="event">{{event.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-list>
    <mat-list-item>Required: {{selectedEvent.requiredManpower}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Registered: {{selectedEvent.registeredManpower}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Reported:</mat-list-item>
  </mat-list>
</div>
