
  

	<div class="main-container">
		<div class="innerwrap">
		
		
			<section class="section2 clearfix">
                <div style="text-align:center;"><h1 style="color: white;"> Find Us</h1></div>
				<div class="col2 column1 first">
                    <agm-map [latitude]="lat" [longitude]="lng">
                        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                      </agm-map> 
				</div>
				<div class="col2 column2 last">
					<div class="sec2innercont">
						<div class="sec2addr" style="color: white;">
							<p> <span class="collig"></span> 70 Pasir Panjang Rd, </p>
							<p><span class="collig"></span> #03-71 Mapletree Business City II</p>
							<p><span class="collig"></span>  Singapore 596740</p>
						
						</div>
					</div>
				

				</div>
			</section>
		
		</div>
	</div>
